include AUTHORS.rst
include LICENSE
include README.rst
include acccmip6/utilities/data/* 

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst
